.first{
    background-color: teal;
    color: white;
    padding: 10px;
    margin: 10px;
}
.second{
    background-color:aqua;
    color:black;
    padding: 10px;
    margin: 10px;
}
.third{
    background-color:cadetblue;
    color:aliceblue;
    padding: 10px;
    margin: 10px;
}
h3{
    text-align: center;
    text-decoration: underline;
}
p{
    text-align: justify;
    font-size: large;
}
.increment{
    background-color:antiquewhite;
    color:black;
    padding: 10px;
    margin: 10px;
}
.command{
    font-size: 20px;
}
.fourth{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}